header {
    background-color:#fff;
    padding:5px 15px;
    position: fixed;
    left:0;
    top:0;
    right:0;
    min-height:55px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #e5e5e5;
    transition: all 0.3s ease 0s;
    z-index:10;
    .menus {
        position:fixed;
        top:56px;
        left:0;
        bottom:0;
        background-color:#fff;
        width:200px;
        box-shadow: 2px 0 2px rgba(0,0,0,0.16);
        transition: all 0.3s ease 0s;
        @media only screen and (min-width:991px) {
            float:left;
            margin-right:15px;
            position:static;
            width:auto;
            box-shadow:none;
        }
    }
    @media only screen and (min-width:991px) {
        min-height:102px;
        left:55px;
        border:none;
        padding:5px 95px 5px 35px;
        // position:static;
        margin-bottom:40px;
    }
    .toggle-menu {
        height:15px;
        cursor: pointer;
        span {
            display:block;
            width:22px;
            height:3px;
            position: relative;
            &:after, &:before {
                content:'';
                position: absolute;
                left:0;
                width:100%;
                height:100%;
                background-color:#000;
            }
            &:after {
                top:-6px;
            }
            &::before {
                top:6px;
            }
        }
        @media only screen and (min-width:991px) {
            display:none;
        }
    }
    .brand {
        position: absolute;
        left:0;
        right:0;
        margin:auto;
        width: 40px;
        transition: all 0.3s ease 0s;
        img {
            vertical-align: middle;
        }
        @media only screen and (min-width:991px) {
            position:static;
            margin:0;
        }
    }
    .top-links {
        padding:0;
        margin:0;
        li {
            list-style: none;
            font-weight:normal;
            float:left;
            font-size:18px;
            margin:0 10px;
        }
        @media only screen and (min-width:991px) {
            float:left;
        }
    }
    
}