footer {
    background-color:#ffd541;
    text-align: center;
    .payment-types {
        border-bottom:1px solid #e5e5e5;
        @media only screen and (min-width:991px) {
            display: none;
        }
    }
}