.description-video {
    .description-content-box {
        background-color:#fff;
        padding:20px;
        .title {
            padding:40px 0;
            h2 {
                margin:0;
                font-weight:bold;
                font-size:28px;
            }
        }
    }
}