@import '~normalize.css/normalize.css';
@import '~font-awesome/css/font-awesome.min.css';

* {
  &, &:after, &:before {
    box-sizing: border-box;
  }
}
body {
 font-family: 'Open Sans'; 
 font-size:14px;
 background-color:#f0f0f0;
 overflow: -moz-scrollbars-none;
 -ms-overflow-style: none;
 &::-webkit-scrollbar { width: 0 !important }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display:flex;
}
.align-center {
  align-items: center;
}
img {
  max-width:100%;
}
a {
  text-decoration: none;
}